# Análise da PNADC2019 entrevista 1

In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.impute import SimpleImputer

In [2]:
pnadc2019 = pd.read_csv('D:/pnadc2_2019.csv',sep = ',')

In [3]:
pnadc2019.head()

,Ano,Trimestre,UF,Capital,RM_RIDE,UPA,Estrato,V1008,V1014,V1022,...,VD5010,VD5011,VD5012,CO1,CO1e,CO2,CO2e,CO3,IDpes,IDdom
0,2019,1,11,11.0,NaN,110000016,1110011,1,7,1,...,3117.0,623.0,3.0,1.01385,1.019669,1.01385,1.019669,1,110000016010701,1100000160107
1,2019,1,11,11.0,NaN,110000016,1110011,1,7,1,...,3117.0,623.0,3.0,1.01385,1.019669,1.01385,1.019669,1,110000016010702,1100000160107
2,2019,1,11,11.0,NaN,110000016,1110011,1,7,1,...,3117.0,623.0,3.0,1.01385,1.019669,1.01385,1.019669,1,110000016010703,1100000160107
3,2019,1,11,11.0,NaN,110000016,1110011,1,7,1,...,3117.0,623.0,3.0,1.01385,1.019669,1.01385,1.019669,1,110000016010704,1100000160107
4,2019,1,11,11.0,NaN,110000016,1110011,1,7,1,...,3117.0,623.0,3.0,1.01385,1.019669,1.01385,1.019669,1,110000016010705,1100000160107

In [4]:
pnadc2019.dtypes

Ano            int64
Trimestre      int64
UF             int64
Capital      float64
RM_RIDE      float64
              ...
CO2          float64
CO2e         float64
CO3            int64
IDpes          int64
IDdom          int64
Length: 294, dtype: object

In [5]:
pnadc2019.columns.values

array(['Ano', 'Trimestre', 'UF', 'Capital', 'RM_RIDE', 'UPA', 'Estrato',
       'V1008', 'V1014', 'V1022', 'V1023', 'V1030', 'V1031', 'V1032',
       'posest', 'V2001', 'V2003', 'V2005', 'V2007', 'V2008', 'V20081',
       'V20082', 'V2009', 'V2010', 'V3001', 'V3002', 'V3002A', 'V3003A',
       'V3005A', 'V3006', 'V3006A', 'V3007', 'V3008', 'V3009A', 'V3010',
       'V3011A', 'V3012', 'V3013', 'V3013A', 'V3013B', 'V3014', 'V4001',
       'V4002', 'V4003', 'V4004', 'V4005', 'V4006A', 'V4008', 'V40081',
       'V40082', 'V40083', 'V4009', 'V4010', 'V4012', 'V40121', 'V4013',
       'V40132A', 'V4014', 'V4015', 'V40151', 'V401511', 'V401512',
       'V4016', 'V40161', 'V40162', 'V40163', 'V4017', 'V40171',
       'V401711', 'V4018', 'V40181', 'V40182', 'V40183', 'V4019', 'V4020',
       'V4021', 'V4022', 'V4024', 'V4025', 'V4026', 'V4027', 'V4028',
       'V4029', 'V4030', 'V4031', 'V4032', 'V4033', 'V40331', 'V403311',
       'V403312', 'V40332', 'V403321', 'V403322', 'V40333', 'V403331',
       'V4034', 'V40341', 'V403411', 'V403412', 'V40342', 'V403421',
       'V403422', 'V4035', 'V4036', 'V4039', 'V4039C', 'V4040', 'V40401',
       'V40402', 'V40403', 'V4041', 'V4043', 'V40431', 'V4044', 'V4045',
       'V4046', 'V4047', 'V4048', 'V4049', 'V4050', 'V40501', 'V405011',
       'V405012', 'V40502', 'V405021', 'V405022', 'V40503', 'V405031',
       'V4051', 'V40511', 'V405111', 'V405112', 'V40512', 'V405121',
       'V405122', 'V4052', 'V4053', 'V4056', 'V4056C', 'V4057', 'V4058',
       'V40581', 'V405811', 'V405812', 'V40582', 'V405821', 'V405822',
       'V40583', 'V405831', 'V40584', 'V4059', 'V40591', 'V405911',
       'V405912', 'V40592', 'V405921', 'V405922', 'V4062', 'V4062C',
       'V4063A', 'V4064A', 'V4071', 'V4072A', 'V4073', 'V4074A', 'V4075A',
       'V4075A1', 'V4076', 'V40761', 'V40762', 'V40763', 'V4077',
       'V4078A', 'V4082', 'V4097', 'V5001A', 'V5001A2', 'V5002A',
       'V5002A2', 'V5003A', 'V5003A2', 'V5004A', 'V5004A2', 'V5005A',
       'V5005A2', 'V5006A', 'V5006A2', 'V5007A', 'V5007A2', 'V5008A',
       'V5008A2', 'S01001', 'S01002', 'S01003', 'S01004', 'S01005',
       'S01006', 'S01007', 'S01007a', 'S01008', 'S01009', 'S01010',
       'S01011A', 'S01011B', 'S01011C', 'S01012A', 'S01013', 'S01014',
       'S010141', 'S010142', 'S01015', 'S01016A', 'S01016A1', 'S01016A2',
       'S01016A3', 'S01016A4', 'S01016A5', 'S01017', 'S01018', 'S01019',
       'S01020', 'S01020A', 'S01021', 'S01022', 'S01023', 'S01024',
       'S01025', 'S01026', 'S01027', 'S01028', 'S01029', 'S01030',
       'S010301', 'S010302', 'S010303', 'S010304', 'S010305', 'S01031',
       'S010311', 'S010312', 'VD2002', 'VD2003', 'VD2004', 'VD3004',
       'VD3005', 'VD3006', 'VD4001', 'VD4002', 'VD4003', 'VD4004A',
       'VD4005', 'VD4007', 'VD4008', 'VD4009', 'VD4010', 'VD4011',
       'VD4012', 'VD4013', 'VD4014', 'VD4015', 'VD4016', 'VD4017',
       'VD4018', 'VD4019', 'VD4020', 'VD4022', 'VD4030', 'VD4031',
       'VD4035', 'VD4036', 'VD4037', 'VD4046', 'VD4047', 'VD4048',
       'VD4052', 'VD5001', 'VD5002', 'VD5003', 'VD5004', 'VD5005',
       'VD5006', 'VD5007', 'VD5008', 'VD5009', 'VD5010', 'VD5011',
       'VD5012', 'CO1', 'CO1e', 'CO2', 'CO2e', 'CO3', 'IDpes', 'IDdom'],
      dtype=object)

In [6]:
dfpnadc = pnadc2019.filter(items=['UF','Capital','V4001','V4029','V4032','V4012','V4019','V4009','V1022','V2001','V3002','V2005','V2007','V2009','V2010','VD4035','VD4020','V4001','V4002',
                                  'V4003','V4004','V4009','V403411','V4071','V4074A','V5001A','V5001A2','VD2002','V5002A','V5002A2',
                                 'VD3004','VD3005','VD5002','VD5003','VD4046','VD4047','IDpes', 'IDdom'])

In [7]:
#Excluindo colunas duplicadas( caso sejam criadas acidentalmente)
dfpnadc = dfpnadc.loc[:,~dfpnadc.columns.duplicated()]

In [8]:
dfpnadc.head()

,UF,Capital,V4001,V4029,V4032,V4012,V4019,V4009,V1022,V2001,...,V5002A,V5002A2,VD3004,VD3005,VD5002,VD5003,VD4046,VD4047,IDpes,IDdom
0,11,11.0,1.0,1.0,NaN,3.0,NaN,1.0,1,5,...,2,NaN,7.0,16.0,921.0,3.0,1983.0,NaN,110000016010701,1100000160107
1,11,11.0,2.0,NaN,NaN,NaN,NaN,NaN,1,5,...,2,NaN,3.0,9.0,921.0,3.0,954.0,954.0,110000016010702,1100000160107
2,11,11.0,2.0,NaN,NaN,NaN,NaN,NaN,1,5,...,2,NaN,5.0,12.0,921.0,3.0,NaN,NaN,110000016010703,1100000160107
3,11,11.0,2.0,NaN,NaN,NaN,NaN,NaN,1,5,...,2,NaN,5.0,12.0,921.0,3.0,NaN,NaN,110000016010704,1100000160107
4,11,11.0,NaN,NaN,NaN,NaN,NaN,NaN,1,5,...,2,NaN,1.0,0.0,921.0,3.0,NaN,NaN,110000016010705,1100000160107

In [9]:
#verificando se existe missings
dfpnadc.isnull().values.any()

True

# Renomeando colunas e ajustando valores

In [10]:
dfpnadc.rename( columns = {'V2007':'Sexo','V4001':'Trabalhou_nasemana_deref','V4019':'tem_CNPJ','V4032':'Contribuia_com_previdencia','V4029':'trabalhaca_com_carteira_assinada','V4012':'neste_trabalho_era','V40121':'trabalhador_naoremunerado','V4009':'quantos_empregostinha','V2009':'Idade','V3002':'frequenta_escola','V403411':'Numerodafaixadorendimento','VD5002':'Rendimento_efetivo_domiciliar_per_capita','VD5003':'Faixa_de_rendimento_efetivo_domiciliar_per_capita','V2005':'Condicaonodomicilio','V5001A':'BPC', 'V5001A2': 'Valor_do_BPC','V5002A':'PBF','V5002A2':'Valor_do_PBF','VD4020':'RendaBruta','VD4035':'Horas_trabalhadas_semanaREF'}, inplace = True)

In [11]:
dfpnadc['BPC'] = dfpnadc['BPC'].replace(2,0)
dfpnadc['Sexo'] = dfpnadc['Sexo'].replace(2,0)
dfpnadc['PBF'] = dfpnadc['PBF'].replace(2,0)

In [12]:
dfpnadc.head()

,UF,Capital,Trabalhou_nasemana_deref,trabalhaca_com_carteira_assinada,Contribuia_com_previdencia,neste_trabalho_era,tem_CNPJ,quantos_empregostinha,V1022,V2001,...,PBF,Valor_do_PBF,VD3004,VD3005,Rendimento_efetivo_domiciliar_per_capita,Faixa_de_rendimento_efetivo_domiciliar_per_capita,VD4046,VD4047,IDpes,IDdom
0,11,11.0,1.0,1.0,NaN,3.0,NaN,1.0,1,5,...,0,NaN,7.0,16.0,921.0,3.0,1983.0,NaN,110000016010701,1100000160107
1,11,11.0,2.0,NaN,NaN,NaN,NaN,NaN,1,5,...,0,NaN,3.0,9.0,921.0,3.0,954.0,954.0,110000016010702,1100000160107
2,11,11.0,2.0,NaN,NaN,NaN,NaN,NaN,1,5,...,0,NaN,5.0,12.0,921.0,3.0,NaN,NaN,110000016010703,1100000160107
3,11,11.0,2.0,NaN,NaN,NaN,NaN,NaN,1,5,...,0,NaN,5.0,12.0,921.0,3.0,NaN,NaN,110000016010704,1100000160107
4,11,11.0,NaN,NaN,NaN,NaN,NaN,NaN,1,5,...,0,NaN,1.0,0.0,921.0,3.0,NaN,NaN,110000016010705,1100000160107

In [13]:
dfpnadc['BPC'].describe()

count    443790.000000
mean          0.015397
std           0.123126
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: BPC, dtype: float64

In [15]:
#numero de indivíduos que recebem BPC na base vs os que não recebem em termos absolutos
dfpnadc.filter(items=['BPC','IDpes']).groupby('BPC').count()

      IDpes
BPC
0    436957
1      6833

In [16]:
# em termos percentuais temos : 
coluna_bpc = dfpnadc['BPC']
dist_BPC = coluna_bpc.value_counts()
percentualBPC = [100*x/dist_BPC.sum() for x in dist_BPC]
percentualBPC
# 1.54% da base recebe BPC

[98.46030780324027, 1.5396921967597288]


## primeiro corte: Corte de renda: 2/4 e 3/4 do salário mínimo.
## Renda (bruta total - BPC)/ n pessas na família. -> Realizar isso por domicílio e por família.
# como fazer isso? -> primeiro: a renda per capita da família:>=499,>=748,5 e >=998  de forma binária

## Temos que agrupar as famílias

In [17]:
dfpnadc.filter(items= ['IDdom','BPC']).groupby('BPC').count().sort_values(by='IDdom')

      IDdom
BPC
1      6833
0    436957

### quantas familias que tem mais do que 1 beneficiário que recebe BPC ?

In [18]:
z =dfpnadc.filter(items= ['IDpes','IDdom'])\
                            .where(dfpnadc.BPC == 1)\
                            .groupby('IDdom').count().sort_values(by='IDpes', ascending= False)
print(z)

              IDpes
IDdom
3.302882e+12      5
4.200079e+12      4
1.300252e+12      3
3.301928e+12      3
1.500844e+12      3
...             ...
2.400180e+12      1
2.400180e+12      1
2.400174e+12      1
2.400174e+12      1
5.300511e+12      1

[6351 rows x 1 columns]

In [19]:
#valor absoluto de domicílios com mais do q 1 pessoa recebendo BPC
x = z[z['IDpes'] > 1]

print(x)

              IDpes
IDdom
3.302882e+12      5
4.200079e+12      4
1.300252e+12      3
3.301928e+12      3
1.500844e+12      3
...             ...
2.200215e+12      2
5.200107e+12      2
3.303247e+12      2
2.900394e+12      2
5.300319e+12      2

[463 rows x 1 columns]

In [20]:
#Em termos %% o número de pessoas que recebe>1 BPC no mesmo domicilio
coluna_bpc = z['IDpes']
dist_BPC = coluna_bpc.value_counts()
percentualBPC = [100*x/dist_BPC.sum() for x in dist_BPC]
percentualBPC
# 92,7% são domicilios q recebem 1 BPC

[92.70980947882224,
 7.038261691072272,
 0.2204377263423083,
 0.01574555188159345,
 0.01574555188159345]

In [21]:
z['Maiordq1BPC'] = z[z['IDpes']>1]
z['Maiordq1BPC'] = z['Maiordq1BPC'].replace(3,1)
z['Maiordq1BPC'] = z['Maiordq1BPC'].replace(2,1)
z['Maiordq1BPC'] = z['Maiordq1BPC'].replace(4,1)
z['Maiordq1BPC'] = z['Maiordq1BPC'].replace(5,1)
z.fillna(0,inplace=True) # preenchendo os missings com 0 em definitivo

print(z)

              IDpes  Maiordq1BPC
IDdom
3.302882e+12      5          1.0
4.200079e+12      4          1.0
1.300252e+12      3          1.0
3.301928e+12      3          1.0
1.500844e+12      3          1.0
...             ...          ...
2.400180e+12      1          0.0
2.400180e+12      1          0.0
2.400174e+12      1          0.0
2.400174e+12      1          0.0
5.300511e+12      1          0.0

[6351 rows x 2 columns]

# Identificando a posição no domicílio

In [22]:
dfpnadc.filter(items= ['IDpes','Condicaonodomicilio']).groupby('Condicaonodomicilio').count().sort_values(by='IDpes', ascending = False)

                      IDpes
Condicaonodomicilio
1                    150667
4                     96021
2                     93818
5                     47789
10                    20255
8                      6979
14                     6449
12                     6208
6                      6110
7                      4379
16                     1308
9                      1254
15                      995
11                      721
3                       358
13                      321
18                      117
19                       24
17                       17

In [23]:
#Em termos %% por posicao no DOM
coluna_posicaodom = dfpnadc['Condicaonodomicilio']
dist_dom = coluna_posicaodom.value_counts()
percentualdom = [100*x/dist_dom.sum() for x in dist_dom]
percentualdom

[33.95006647288132,
 21.636584871222876,
 21.140178913450054,
 10.768381441672863,
 4.564095630816377,
 1.5725906397169833,
 1.4531647851461276,
 1.39885982108655,
 1.3767773045809955,
 0.9867279569165597,
 0.2947339958088285,
 0.28256607855066584,
 0.22420514207170059,
 0.16246422857657902,
 0.08066878478559679,
 0.07233150814574461,
 0.026363820726019064,
 0.005407963225850064,
 0.003830640618310462]

In [24]:
# dummies para chefe, conjuge, filhos do chefe e outros parentes
# primeiro para chefe 
dfpnadc['ChefedoDom'] =dfpnadc['Condicaonodomicilio']==1
dfpnadc['ChefedoDom']= dfpnadc['ChefedoDom'].replace(True,1)
dfpnadc['ChefedoDom']= dfpnadc['ChefedoDom'].replace(False,0)

In [25]:
dfpnadc['ChefedoDom'].describe()

count    443790.000000
mean          0.339501
std           0.473540
min           0.000000
25%           0.000000
50%           0.000000
75%           1.000000
max           1.000000
Name: ChefedoDom, dtype: float64

In [26]:
#Conferindo se o valor bate com o que deveria ser (150667)
dfpnadc.filter(items= ['ChefedoDom','Condicaonodomicilio']).groupby('ChefedoDom').count().sort_values(by='Condicaonodomicilio', ascending = False)

            Condicaonodomicilio
ChefedoDom
0.0                      293123
1.0                      150667

In [27]:
# conjuge do mesmo sexo ou de sexo diferente
dfpnadc['Conjuge'] = ((dfpnadc.Condicaonodomicilio == 2) | (dfpnadc.Condicaonodomicilio == 3))
dfpnadc['Conjuge']=dfpnadc['Conjuge'].replace(True,1)
dfpnadc['Conjuge']=dfpnadc['Conjuge'].replace(False,0)
dfpnadc['Conjuge']

0         0.0
1         1.0
2         0.0
3         0.0
4         0.0
         ...
443785    0.0
443786    0.0
443787    0.0
443788    0.0
443789    0.0
Name: Conjuge, Length: 443790, dtype: float64

In [28]:
 # dfpnadc['Conjuge'] =dfpnadc[(dfpnadc['Condicaonodomicilio']==2) or (dfpnadc['Condicaonodomicilio']==3)]

In [29]:
#Conferindo o valor que tem que ser (93818 + 358) = 94176
dfpnadc.filter(items= ['Conjuge','Condicaonodomicilio']).groupby('Conjuge').count().sort_values(by='Condicaonodomicilio', ascending = False)

         Condicaonodomicilio
Conjuge
0.0                   349614
1.0                    94176

In [30]:
dfpnadc['Filho_dochefe_oudocasal'] = ((dfpnadc.Condicaonodomicilio == 4) | (dfpnadc.Condicaonodomicilio == 5))
dfpnadc['Filho_dochefe_oudocasal']=dfpnadc['Filho_dochefe_oudocasal'].replace(True,1)
dfpnadc['Filho_dochefe_oudocasal']=dfpnadc['Filho_dochefe_oudocasal'].replace(False,0)
dfpnadc['Filho_dochefe_oudocasal']

0         0.0
1         0.0
2         1.0
3         1.0
4         0.0
         ...
443785    1.0
443786    0.0
443787    0.0
443788    0.0
443789    1.0
Name: Filho_dochefe_oudocasal, Length: 443790, dtype: float64

In [31]:
#Conferindo o valor que tem que ser (96021 + 47789) = 143810
dfpnadc.filter(items= ['Filho_dochefe_oudocasal','Condicaonodomicilio']).groupby('Filho_dochefe_oudocasal').count().sort_values(by='Condicaonodomicilio', ascending = False)

                         Condicaonodomicilio
Filho_dochefe_oudocasal
0.0                                   299980
1.0                                   143810

In [32]:
dfpnadc['outrosparentes']= dfpnadc['Condicaonodomicilio']>5
dfpnadc['outrosparentes'] = dfpnadc['outrosparentes'].replace(False,0)
dfpnadc['outrosparentes'] = dfpnadc['outrosparentes'].replace(True,1)
dfpnadc['outrosparentes']

0         0.0
1         0.0
2         0.0
3         0.0
4         1.0
         ...
443785    0.0
443786    0.0
443787    1.0
443788    0.0
443789    0.0
Name: outrosparentes, Length: 443790, dtype: float64

In [33]:
#Conferindo o valor que tem que ser , 0 tem que ser (143810+94176+150667)=388653
dfpnadc.filter(items= ['outrosparentes','Condicaonodomicilio']).groupby('outrosparentes').count().sort_values(by='Condicaonodomicilio', ascending = False)

                Condicaonodomicilio
outrosparentes
0.0                          388653
1.0                           55137

### dummies para idade e escolaridade

In [34]:
dfpnadc['idadede10a14']= ((dfpnadc.Idade >=10) & (dfpnadc.Idade <=14))
dfpnadc['idadede10a14'] = dfpnadc['idadede10a14'].replace(True,1)
dfpnadc['idadede10a14'] = dfpnadc['idadede10a14'].replace(False,0)
dfpnadc['idadede10a14']

0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
         ...
443785    0.0
443786    0.0
443787    0.0
443788    0.0
443789    0.0
Name: idadede10a14, Length: 443790, dtype: float64

In [35]:
dfpnadc.filter(items= ['idadede10a14','Idade']).groupby('idadede10a14').count().sort_values(by='Idade', ascending = False)

               Idade
idadede10a14
0.0           410691
1.0            33099

In [36]:
dfpnadc['idade_15a17']= ((dfpnadc.Idade >=15) & (dfpnadc.Idade <=17))
dfpnadc['idade_15a17']=dfpnadc['idade_15a17'].replace(True,1)
dfpnadc['idade_15a17']= dfpnadc['idade_15a17'].replace(False,0)
dfpnadc['idade_15a17']

0         0.0
1         0.0
2         0.0
3         1.0
4         0.0
         ...
443785    0.0
443786    0.0
443787    0.0
443788    0.0
443789    0.0
Name: idade_15a17, Length: 443790, dtype: float64

In [37]:
dfpnadc.filter(items= ['idade_15a17','Idade']).groupby('idade_15a17').count().sort_values(by='Idade', ascending = False)

              Idade
idade_15a17
0.0          422928
1.0           20862

In [38]:
dfpnadc['frequenta_escola']= dfpnadc['frequenta_escola'].replace(2,0)
dfpnadc['frequenta_escola'].describe()

count    415474.000000
mean          0.261066
std           0.439216
min           0.000000
25%           0.000000
50%           0.000000
75%           1.000000
max           1.000000
Name: frequenta_escola, dtype: float64

# Dummies para faixas de rendimento

In [39]:
dfpnadc.columns

Index(['UF', 'Capital', 'Trabalhou_nasemana_deref',
       'trabalhaca_com_carteira_assinada', 'Contribuia_com_previdencia',
       'neste_trabalho_era', 'tem_CNPJ', 'quantos_empregostinha', 'V1022',
       'V2001', 'frequenta_escola', 'Condicaonodomicilio', 'Sexo', 'Idade',
       'V2010', 'Horas_trabalhadas_semanaREF', 'RendaBruta', 'V4002', 'V4003',
       'V4004', 'Numerodafaixadorendimento', 'V4071', 'V4074A', 'BPC',
       'Valor_do_BPC', 'VD2002', 'PBF', 'Valor_do_PBF', 'VD3004', 'VD3005',
       'Rendimento_efetivo_domiciliar_per_capita',
       'Faixa_de_rendimento_efetivo_domiciliar_per_capita', 'VD4046', 'VD4047',
       'IDpes', 'IDdom', 'ChefedoDom', 'Conjuge', 'Filho_dochefe_oudocasal',
       'outrosparentes', 'idadede10a14', 'idade_15a17'],
      dtype='object')

In [40]:
dfpnadc['Rendimento_efetivo_domiciliar_per_capita']

0          921.0
1          921.0
2          921.0
3          921.0
4          921.0
           ...
443785    6833.0
443786    1000.0
443787    1000.0
443788     750.0
443789     333.0
Name: Rendimento_efetivo_domiciliar_per_capita, Length: 443790, dtype: float64

In [41]:
# de 1/4 até 2/4 salário mínimo
dfpnadc['ate1_2salariomin'] = ((dfpnadc.Rendimento_efetivo_domiciliar_per_capita > 249.50) & (dfpnadc.Rendimento_efetivo_domiciliar_per_capita <=499))
dfpnadc['ate1_2salariomin'] = dfpnadc['ate1_2salariomin'].replace(True,1)
dfpnadc['ate1_2salariomin']  = dfpnadc['ate1_2salariomin'].replace(False,0)
dfpnadc['ate1_2salariomin'] 
dfpnadc['ate1_2salariomin'].describe()

count    443790.000000
mean          0.196530
std           0.397374
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: ate1_2salariomin, dtype: float64

In [42]:
# de 2/4 até 3/4 salário mínimo
dfpnadc['ate3_4salariomin'] = ((dfpnadc.Rendimento_efetivo_domiciliar_per_capita > 499) & (dfpnadc.Rendimento_efetivo_domiciliar_per_capita <=748.50))
dfpnadc['ate3_4salariomin'] = dfpnadc['ate3_4salariomin'].replace(True,1)
dfpnadc['ate3_4salariomin']  = dfpnadc['ate3_4salariomin'].replace(False,0)
dfpnadc['ate3_4salariomin'] 
dfpnadc['ate3_4salariomin'].describe()

count    443790.000000
mean          0.145686
std           0.352792
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: ate3_4salariomin, dtype: float64

In [43]:
# de3/4 até 1 salário mínimo 
dfpnadc['ate1salariomin'] = ((dfpnadc.Rendimento_efetivo_domiciliar_per_capita > 748.50) & (dfpnadc.Rendimento_efetivo_domiciliar_per_capita <=998))
dfpnadc['ate1salariomin'] = dfpnadc['ate1salariomin'].replace(True,1)
dfpnadc['ate1salariomin']  = dfpnadc['ate1salariomin'].replace(False,0)
dfpnadc['ate1salariomin'] 
dfpnadc['ate1salariomin'].describe()

count    443790.000000
mean          0.129647
std           0.335915
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: ate1salariomin, dtype: float64

In [45]:
#Se tem alguem com 65 ou mais
dfpnadc['Idade65'] = dfpnadc['Idade']>=65
dfpnadc['Idade65'] = dfpnadc['Idade65'].replace(True,1)
dfpnadc['Idade65'] = dfpnadc['Idade65'].replace(False,0)
dfpnadc['Idade65'].describe()

count    443790.000000
mean          0.107837
std           0.310175
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: Idade65, dtype: float64